.match {
  border: 1px #f3f2f6 solid;

  background-color: #f3f2f6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 2.5rem;
  width: 370px;
  height: 410px;
  margin-left: 4rem;
  border-radius: 10px;
}

.match-card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 366px;
  height: 360px;
}

.chatbox {
  border: 1px #cde2ff solid;
  border-radius: 50px;
  background-color: #cde2ff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1rem 6rem;
  margin-top: 2.5rem;
  height: max-content;
}

/* .wrapper {
  width: 320px;
  height: 250px;
  background: #fdfeff;
  transition: background 0.6s ease;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(#000000, 0.2);
} */
